.radiofield {
 display: none !important
}

.stack  span{
    margin: 0;
}
.customRadio span {
    display: none !important;
}

.customCheckbox span {
    margin: 0;
}

.customCheckbox span:first-of-type {
    display: none !important;
}